{% extends 'base.html' %}
{% block title %}Zarejestruj się{% endblock %}
{% block main %}
<form action="#" method="post">
    <input type="text" name="imie" id="imie" placeholder="Imię">
    <input type="text" name="nazwisko" id="nazwisko" placeholder="Nazwisko">
    <input type="email" name="email" id="email" placeholder="Email">
    <input type="password" name="haslo" id="haslo" placeholder="Hasło">
    <input type="text" name="numerTelefonu" id="numerTelefonu" placeholder="Numer Telefonu">
    <input type="submit" value="ZAREJESTRUJ">
</form>
{% endblock %}